body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
    align-items: center;
    height: 80vh;
    background-color: #756969;
}

* {
    box-sizing: border-box;
}